@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

#header-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

#left-w {
    display: inline-block;
    position: absolute;
    top: 2vh;
    left: 2vw;
    border: 1px solid yellow;
}

#left-w-comp { 
    display: inline-block;  
    width: 160px; 
    height: 45px;
}

#center-w {
    display: inline-block;
    position: absolute;
    top: 2vh;
    left: 14vw;
    font-size: 0px;
    border: 1px solid yellow;
}

.center-w-comp {
    display: inline-block;
    font-size: 14px;
    font-weight: 450;
    line-height: 3px;
    padding: 20px;
    border: 1px solid green;
}

.center-w-comp-inside {
    font-family: Rubik;
    color: white;
    text-decoration: none;
}

#wcumvid {
    width: 100%;
    pointer-events: none;
}

#wupdates {
    background-color: black;
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
}

body > header{
    position: fixed;
    width: 98.8vw;
    height: 80px;
    border: 1px solid pink;
}

body > main {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}
