@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

.wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

#left-w {
    display: inline-block;
    position: absolute;
    top: 2vh;
    left: 2vw;
}

#left-w-comp { 
    display: inline-block;  
    width: 160px; 
    height: 45px;
}

#center-w {
    display: inline-block;
    position: absolute;
    top: 2vh;
    left: 14vw;
    font-size: 0px;
}

.center-w-comp {
    display: inline-block;
    font-size: 14px;
    font-weight: 450;
    line-height: 3px;
    padding: 20px;
}

.center-w-comp:hover {
    border-bottom: 2px solid red;
}

.center-w-comp:hover a{
    background-color: rgba(255, 255, 255, 0.2);
}

.center-w-comp-inside {
    border-radius: 25px;
    padding: 6px;
    font-family: Rubik;
    color: white;
    text-decoration: none;
}

#right-w {
    display: inline-block;
    position: absolute;
    width: 365px;
    top: 2vh;
    right: 2vw;
}

#right-svg {
    position: relative;
    top: 0.3vh;
    width: 35px;
    height: 35px;
}

#right-bar{
    display: inline-block;
    position: relative;
    border: 1.5px solid white;
    border-radius: 25px;
    width: 175px;
    height: 25px;
    padding: 3.5px;
}

#right-bar-input {
    position: absolute;
    top: 1vh;
    left: 1vw;
    background-color: transparent;
    border: transparent;
    caret-color: white;
}

#right-bar-input::placeholder {
    color: white;
    font-size: 14px;
    font-weight: 450;
    line-height: 3px;
    font-family: Rubik;
}

#right-bar-input:focus {
    outline: none;
}

#right-bar-svg-container {
    display: inline-block;
    position: absolute;
    right: 1vw;
    top: -2px;
}

#right-bar-svg {
    width: 35px;
    height: 35px;
}

#right-button {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0.2vh;
    font-family: Rubik;
    color: black;
    background-color: red;
    border-radius: 25px;
    text-decoration: none;
    font-size: 13px;
    font-weight: 450;
    line-height: 3px;
    padding: 17px;
}

.blocks {
    display: block;
    position: relative;
    top: -37vh;
    width: 100%;
}

.titles {
    color: white; 
    font-family: Rubik; 
    left: 70px; 
    top: 70px; 
    position: absolute; 
    display: inline-block; 
    font-size: 45px; 
    font-weight: bolder;
}

#alpha-layer {
    background-color: rgba(0, 0, 0, 0.35);
    position: absolute;
    top: 0;
    width: 100%;
    height: 87vh;
}

#wcumvid {
    width: 100%;
    display: block;
    position: relative;
    top: -16vh;
    pointer-events: none;
    z-index: -1;
}

#wupdates-container {
    width: 100%;
    height: 134vh;
    background-color: black;
    background: radial-gradient(circle, hsl(338, 55%, 10%) 0%, hsl(0,0%,0%) 70%)
}

#updates-container-big{
    display: inline-block;
    position: absolute;
    top: 230px;
    left: 70px;
    width: 800px;
}

#wupdates-container-buttons{
    display: inline-block;
    position: absolute;
    top: 230px; 
    right: 110px;
}

#wcentral{
    width: 100%;
    height: 310vh;
    background-color: hsl(0, 0%, 11%);
}

#wgames-container {
    position: absolute;
    width: 1400px;
    height: 1000px;
    top: 30vh;
    left: 5vw;
}

#wgames-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

#wgames-right {
    position: absolute;
    right: 0;
}

#wgames-left {
    position: absolute;
    left: 0;
}

.gamesblocks {
    width: 680px;
    height: 290px;
    padding: 0;
    margin-bottom: 35px;
    border-radius: 25px;
}

#Esports {
    position: absolute;
    top: 162vh;
    width: 1470px;
}

#Esports-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

#centralsubtit {
    color: white; 
    font-family: Rubik; 
    left: 70px; 
    top: 0px; 
    position: absolute; 
    display: inline-block; 
    font-size: 45px; 
    font-weight: bolder;
}

#Ent {
    position: absolute;
    top: 230vh;
    width: 1470px;
}

#Ent-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

#centralsubtit1 {
    color: white; 
    font-family: Rubik; 
    left: 70px; 
    top: 0px; 
    position: absolute; 
    display: inline-block; 
    font-size: 45px; 
    font-weight: bolder;
}

#whiring{
    width: 100%;
    height: 80vh;
    background-color: hsl(0, 0%, 90%);
}

#winfo{
    width: 100%;
    height: 30vh;
    background-color: hsl(0, 0%, 11%);
}

body > header{
    position: fixed;
    width: 100%;
    height: 80px;
    z-index: 1000;
}

body > main{
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: hsl(0, 0%, 11%);
    overflow-x: hidden;
    overflow-y: auto;
}
